.resources__link {
  align-self: center;
  transition: all 1s ease;
}                                                                                                                                                                                             /* border-style: solid; border-color: paleturquoise;  */

.resources__link:hover {
  opacity: 50%;
}