.feynman__title {
  width: 648px;
  margin: 0;
  padding-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-weight: 600;
  font-size: 120px;
  z-index: 1;
}                                                                                                                                                                                                   /* border-style:dotted; border-color:rebeccapurple; */