.khan {
  margin: 105px auto 0;
  width: 80%;
  background-color: #f2f2f2;
}                                                                                                                                                                                                         /* border-style: dashed; border-color: black; */