.kaufman {
  margin-top: 0;
  padding-bottom: 90px;
  padding-top: 90px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color:#1f1f1f;
}                                                                                                                                                                                                       /* border-style: dashed; border-color: black; */