.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  --header_main-image: url(../../../images/header-image.png);
  --kaufman_triangle-image: url(../../../images/kaufman-triangle.svg);
}