.footer__column_content_social {
  max-width: 25%;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: flex-start;
}                                                                                                                                                                                                       /* border-style:dotted; border-color:cadetblue; */