.section-subtitle_theme_dark {
  margin: 0;
  margin-top: 20px;
  color: white;
  z-index: 1;
}                                                                                                                                                                                                                 /* background-color: blue; */