.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  background-color: #f2f2f2;
  /* border-style: solid; border-color: red;  */
}
.logo {
  width: 228px;
  height: 32px;
  /* border-style: dashed; border-color: black; */
}
.logo_place_header {
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
  z-index: 2;
}
.header__title {
  width: 730px;
  position: absolute;
  left: 64px;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
  /* border-style: dashed; border-color: black;  */
}
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  /* border-style: dashed; border-color: black; */
}
.header__link {
  line-height: 18px;
  font-size: 18px;
}
.header__main-illustration {
   width: 765px;
   height: 608px;
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: 1;
   background-image: url(../images/header-image.png);
   background-size: contain;
   /* border-style: dashed; border-color: black;  */
}
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  background-color: #2f80ed;
  /* border-style: dashed; border-color: black;  */
}
.content {
  margin: 0;
  font-weight: bold;
  /* border-style: solid; border-color: red;  */
 }
 .description {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-color: white;
  /* border-style: dashed; border-color: black;  */
}
.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-style:double; border-color:aqua;  */
}
.two-columns__brief {
  width: 175px;
  margin-top: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  /* border-style:dotted; border-color:blue;  */
}
.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border-style:dotted; border-color:blue;  */
}
.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /* border-style:dotted; border-color:rebeccapurple; */
}
.two-columns__main-text>.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
.two-columns__span-accent {
  font-weight: 600;
}
.digits {
  margin-top: 0px;
  margin-bottom: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border-style: dashed; border-color: black; */
}
.section-title {
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.15;
  font-weight: 600;
  font-size: 60px;
  /* border-style:double; border-color:aqua;  */
} 
.section-title_theme_dark {
  margin: 0;
  z-index: 1;
  color: white;
  /* background-color: blue;                 */
}
.section-subtitle {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  /* border-style:double; border-color:aqua;  */
}
.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  /* background-color: blue;                */
}
.table {
  width: 1100px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  counter-reset: cellnum;                                                         /* will be used as cell counter 4 cell heads */
  /* border-style:double; border-color:aqua; */
}
.table_theme_dark {
  color: white;
  z-index: 1;
  /* background-color: blue;                */
}
.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 0;
  margin-bottom: 0;
  counter-increment: cellnum;                                                     /* set cell counter 2 current value */
  /* border-style:dotted; border-color:rebeccapurple; */
}
.table__cell>.table__cell_numbered::before {
  content: counter(cellnum);
}                                                                                 /* Modifier 4 table cell ordnum output before a header text */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  /* background-color: blue;                */
}
.table__heading {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  font-weight: 600;
  font-size: 24px;
}
.table__heading_theme_dark {
  color: white;
  /* background-color: blue;                */
}
.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text_theme_dark {
  color: white;
  /* background-color: blue;                */
}
.feynman {
  width: vw;
  height: calc(1.25*637px);                                                     /*  637px Feynman photo height, see feynman__photo */
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  background-color: #f2f2f2;
  /* border-style: dashed; border-color: black;  */
}
.feynman__photo {
  width: 867px;
  height: calc(vh/1.25);                                                        /* = 637px based on feynman block height */
  position: absolute;
  left: 0;
  bottom: 0;
  /* border-style:double; border-color:aqua; */
}
.feynman__title {
  width: 648px;
  margin-top: 0;                                                                /* Подгонка краёв для Ф под кругом: calc(0.75/2*120px), это всё прибито гвоздями, общая формула не получается, проще просто 45px для шрифта 90px */
  margin-left: 0;                                                               /* Подгонка краёв для Ф под кругом: calc(2*0.75*120px), это всё прибито гвоздями, общая формула не получается, проще просто 180px для шрифта 90px & 325px 4 120px font */
  margin-right: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.15;
  font-weight: 600;
  font-size: calc(1*120px);                                                     /* Multiplier 0.75 2 move captuer from Feynman spot, чтобы Ф была под кругом, общая формула не получается, см. коммент для краёв */
  z-index: 1;
  /* border-style:dotted; border-color:rebeccapurple; */
}
.feynman__subtitle {
  margin-top: 70px;
  margin-bottom: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  /* border-style:dotted; border-color:rebeccapurple;  */
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  /* border-style:double; border-color:aqua; */
}
.kaufman {
  margin-top: 0;
  padding-bottom: 90px;
  padding-top: 90px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color:#1f1f1f;
  /*  border-style: dashed; border-color: black; */
}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-size: cover;
  background-image: url(../images/kaufman-triangle.svg);
  /* border-style:double; border-color:aqua; */
}
.footer {
  min-height: 350px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  background-color:#1f1f1f;
  color: white;
  /* border-style: solid; border-color: red;  */
}
.footer__columns {
  margin: 0;
  width: 90%;
  display:flex;
  flex-direction: row;
  box-sizing: 50%;
  justify-content: flex-start;
  /* border-style: dashed; border-color: white; */
}
.footer__column {
  margin: 0;
  padding: 0;
  display: flex;
  flex-basis: 711px;
  max-width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  /* border-style:double; border-color:aqua;  */
}
.footer__column_content_copyright {
  justify-content: space-between;
  /* border-style:dotted; border-color:cadetblue;  */
}
.logo_place_footer {
  /* border-style:dotted; border-color:cadetblue;  */
}
.footer__columns>.footer__column.footer__column_content_copyright + * {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-basis: 711px;
  gap: 0 15%;
  justify-content: flex-end;
}                                                                           /* technical flex container 4 2 cols justify after copyright'a */
.footer__column_content_info {
  max-width: 34%;
  /* border-style:dotted; border-color:cadetblue; */
}
.footer__column_content_social {
  max-width: 34%;
  /* border-style:dotted; border-color:cadetblue; */
}
.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  /* border-style:dotted; border-color:cadetblue; */
}
.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  /* border-style:dotted; border-color:cadetblue;  */
}
.footer__column-links {
  margin: 0;
  padding-left: 0;
  padding-bottom: 16px;
  list-style-type: none;
  /* border-style:dotted; border-color:cadetblue; */
}
.footer__column-link {
  margin: 0;
  line-height: 30px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  /* border-style:dotted; border-color:cadetblue; */
}
.footer__social-icon {
  margin: 0;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  align-self: center;
  /* border-style:dotted; border-color:cadetblue; */
}
