.khan__book-pic {
  margin: 0;
  padding-right: 48px;
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: left top;
}                                                                                                                                                                                               /* border-style: dashed; border-color: darkmagenta;  */