.khan__book-pic {
  margin: 0;
  padding-right: 48px;
  width: 620px;
  height: 608px;
  box-sizing: border-box;
}                                                                                                                                                                                               /* border-style: dashed; border-color: darkmagenta;  */